* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.tmdl text eol=lf
*.pbip text eol=lf
*.pbir text eol=lf
*.pbism text eol=lf
*.png binary
*.pbix binary
